.container{
  margin-bottom: 5rem;
}

button {
  background-color: rgb(9, 255, 9);
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
    box-shadow: 0 10px 20px rgba(0, 128, 0, 0.4), 0 6px 6px rgba(0, 128, 0, 0.4);
    transition-duration: 0.5s;
    padding: 16px 28px;
    font-size: 18px;
    cursor: pointer;
}

.container{
  position: relative;
}

.content1{
  transition: opacity ease-in-out;
  transition-duration: 40000s;
  opacity: 0.8;
  cursor: pointer;
}

.content2{
  transition: opacity ease-in-out;
  transition-duration: 40000s;
  opacity: 0.2;
  cursor: pointer;
}

.content3{
  transition: opacity ease-in-out;
  transition-duration: 40000s;
  opacity: 0.08;
  cursor: pointer;
}
